body {
  font-size: 1.1rem;
  font-family: "Roboto", serif;
  font-weight: 400;
  background-color: #0f0f0f;
  color: #ffffff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

/* Chicken Words navigation styling */
.nav-bar {
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  list-style-type: none;
}

.nav-items li,
a {
  margin-right: 1rem;
  text-decoration: double;
  color: #ffffff;
}

.nav-items li,
a:hover {
  color: #ff7519;
}

@media screen and (max-width: 500px) {
  body {
    margin: 0.8rem;
  }

  .nav-items {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  .counter {
    font-size: 6rem;
  }
}

.chicken-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.chicken-logo-container img {
  width: 2.5rem;
  margin-right: 10px;
}

.chicken-logo-text {
  font-size: 2.1rem;
  font-style: italic;
  font-weight: 500;
}

/* Main content of Chicken Words styling */
.main-content {
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.type-content {
  border-radius: 0.3rem;
  padding: 1rem;
  line-height: 2rem;
  font-size: 1.3rem;
  background-color: #1e1e1e;
  margin-bottom: 1rem;
}

.input-container {
  display: flex;
}

.input-container input {
  width: 100%;
  padding: 1rem 1rem;
  border-radius: 0.3rem;
  margin-right: 0.8rem;
  border: none;
  background-color: #1e1e1e;
  color: #ffffff;
  font-size: 1.3rem;
}

.input-container button {
  width: 15%;
  border-radius: 0.2rem;
  border: none;
  background-color: #6439ff;
  color: #ffffff;
}

.fa-rotate-right {
  font-size: 1.5rem;
}

.countdown-container {
  text-align: center;
  font-weight: 500;
}

.counter {
  font-size: 2.6rem;
  color: #faf7f0;
  padding: 2rem;
}

.correct-word {
  color: #49a875;
}

.incorrect-word {
  color: #f58d37;
}

.highlight {
  text-decoration: underline;
  font-weight: bold;
}

#stats {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

table {
  width: 100%;
  max-width: 750px;
  border-collapse: collapse;
  background-color: #1e1e1e;
  color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #333;
}

th {
  background-color: #292929;
  font-weight: bold;
}

td {
  font-size: 16px;
}

tr:last-child td {
  border-bottom: none;
}

td#time-taken,
td#wpm,
td#accuracy,
td#error-rate,
td#total-words,
td#kpm {
  font-weight: bold;
  text-align: center;
  color: #00c853;
}

td#accuracy,
td#error-rate {
  color: #ff9800;
}

/* Hover effect */
tr:hover {
  background-color: #333333;
  transition: 0.3s;
}

.stats {
  display: flex;
  justify-content: center;
}

#statsChart {
  width: 100%;
  max-width: 750px;
  border-collapse: collapse;
  overflow: hidden;
}

/* Theme changes */
#theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}

#theme-toggle:active {
  transform: rotate(360deg);
}

/* Light mode button icon color */
.light-mode #theme-toggle {
  color: #000000;
}

.light-mode th, td {
  border-bottom: 1px solid #dad6d6;
}


/* Light Mode */
.light-mode {
  background-color: #ffffff;
  color: #0f0f0f;
}

/* Light Mode Table */
.light-mode table {
  background-color: #f9f9f9;
  color: #000;
  box-shadow: none;
  border: 2px solid black;
  box-shadow: 0 4px 10px rgba(170, 170, 170, 0.5);
}

.light-mode .counter,
.light-mode .nav-items li a {
  color: #000;
}

.light-mode .type-content,
.light-mode #type-input {
  background-color: #f5f7f8;
  color: #524b4b;
}

.light-mode tr:hover {
  background-color: #f0f0f0;
  transition: 0.3s;
}

.light-mode th {
  background-color: #e6e8e9;
}

.light-mode td#accuracy,
.light-mode td#error-rate {
  color: #ff5722;
}

.light-mode td#time-taken,
.light-mode td#wpm,
.light-mode td#total-words,
.light-mode td#kpm {
  color: #2e7d32;
}
